<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="border-top mt-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center mb-2">
                    <!--                    <li class="list-inline-item">-->
                    <!--                        <a href="#!">-->
                    <!--                            <span class="fa-stack fa-lg">-->
                    <!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
                    <!--                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>-->
                    <!--                            </span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    <li class="list-inline-item">-->
                    <!--                        <a href="#!">-->
                    <!--                            <span class="fa-stack fa-lg">-->
                    <!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
                    <!--                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>-->
                    <!--                            </span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <li class="list-inline-item">
                        <a href="#!" th:href="#{link.repository}" th:target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic" th:text="#{footer.copyright}">Copyright &copy; Your
                    Website 2022
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>