<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation bar</title>
</head>
<body>
<nav th:fragment="navbar(authenticated)" class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html"
           th:text="#{navigation.title}"
           th:href="@{/}">Start Bootstrap
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html"
                                        th:href="@{/}"
                                        th:text="#{navigation.home}">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html"
                                        th:href="@{/about}"
                                        th:text="#{navigation.about}">About</a></li>
                <!--                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html"-->
                <!--                                        th:href="@{/contact}"-->
                <!--                                        th:text="#{navigation.contact}">Contact</a></li>-->
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="login.html"
                                        th:unless="${authenticated}"
                                        th:href="@{/auth/login}"
                                        th:text="#{navigation.login}">Login</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="register.html"
                                        th:unless="${authenticated}"
                                        th:href="@{/auth/register}"
                                        th:text="#{navigation.register}">Register</a></li>
                <li class="nav-item dropdown" th:if="${authenticated}">
                    <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" id="navbarDropdownPosts"
                       role="button" data-bs-toggle="dropdown" aria-expanded="true">Posts
                    </a>
                    <ul class="dropdown-menu py-1 border-0" aria-labelledby="navbarDropdownPosts" data-bs-popper="none">
                        <li><a class="dropdown-item" href="createPost.html" th:href="@{/posts/create}"
                               th:text="#{navigation.create.post}">Create Post</a></li>
                        <li><a class="dropdown-item" href="#" th:href="@{/posts}">Browse posts</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" th:if="${authenticated}">
                    <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="true">Profile
                    </a>
                    <ul class="dropdown-menu py-1 border-0" aria-labelledby="navbarDropdown" data-bs-popper="none">
                        <li><a class="dropdown-item" href="#" th:href="@{/users/profile}">My Profile</a></li>
                        <li><a class="dropdown-item" href="#" th:href="@{/users}">Browse users</a></li>
                        <li><a th:if="${isAdmin}" class="dropdown-item" href="#" th:href="@{/users/adminPanel}">Admin
                            Portal</a></li>
                        <!--                        <li><hr class="dropdown-divider my-1"></li>-->
                        <li><a class="dropdown-item" href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>