<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{page.title}">MyForum</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/navbar.html :: navbar(${isAuthenticated})">Navigation bar fragment</nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')"
        th:style="'background:url(' + @{/assets/img/about-bg.jpg} + ');background-size:cover;'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 th:text="#{about.title}">About Me</h1>
                    <span class="subheading" th:text="#{about.description.short}">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p th:text="#{about.description.full.p1}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Saepe
                    nostrum ullam eveniet pariatur
                    voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam
                    ducimus consectetur?</p>
                <p th:text="#{about.description.full.p2}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Saepe
                    nostrum ullam eveniet pariatur
                    voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam
                    ducimus consectetur?</p>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
<footer th:replace="fragments/footer.html :: footer">Footer fragment</footer>
<!--Scripts-->
<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>
