<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{page.title}">MyForum</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<!-- Navigation-->
<nav th:replace="fragments/navbar.html :: navbar(${isAuthenticated})">Navigation bar fragment</nav>
<!-- Page Header-->
<header class="masthead py-6" style="background-image: url('../static/assets/img/home-bg.jpg')"
        th:style="'background:url(' + @{/assets/img/admin-bg.jpg} + ');background-size:cover;'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 th:text="#{adminPanel.title}">Welcome message!</h1>
                    <!--                    <span class="subheading" th:text="#{home.description}">Short description of our webpage</span>-->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <form action="#" th:action="@{/users/adminPanel}" method="get" th:object="${userFilterOptions}">
            <h3 class="text-center pb-3" th:text="#{user.filter.label}">Filter Options</h3>
            <div class="px-2">
                <input placeholder="Username" th:field="*{username}" style="width: 23%"/>
                <input placeholder="First name" th:field="*{firstName}" style="width: 23%"/>
                <input placeholder="Email" th:field="*{email}" style="width: 32%"/>
            </div>
            <div class="my-2 px-2">
                <select th:field="*{sortBy}">
                    <option value="">Sort By</option>
                    <option value="username">Username</option>
                    <option value="firstName">First name</option>
                    <option value="email">Email</option>
                </select>

                <select th:field="*{sortOrder}">
                    <!--       <option value="">Sort Order</option>-->
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <input type="submit" value="Search">
            </div>
        </form>
        <div th:if="${users.isEmpty() || (users.size()==1 && users.get(0).getUsername().equals(currUserUsername))}">
            <p class="text-center mb-0" th:text="#{users.title.empty}">No matching users.</p>
        </div>
        <div th:unless="${users.isEmpty() || (users.size()==1 && users.get(0).getUsername().equals(currUserUsername))}">
            <div>
                <table class="my-4">
                    <thead>
                    <tr>
                        <th class="cell px-2" th:text="#{user.label.username}">Username</th>
                        <th class="cell px-2" th:text="#{user.label.firstName}">First Name</th>
                        <!--            <th class="cell" th:text="#{user.label.lastName}">Last Name</th>-->
                        <th class="cell px-2" th:text="#{user.label.email}">Email</th>
                        <!--            <th class="cell" th:text="#{user.label.lastLogin}">Date of Registration</th>-->
                        <!--            <th class="cell" th:text="#{user.label.creation}">User Since</th>-->
                        <th class="cell px-2" th:text="#{user.label.admin}">Admin privileges</th>
                        <th class="cell px-2" th:text="#{user.label.block}">Block/Unblock User</th>
                        <th class="cell px-2" th:text="#{user.label.delete}">Delete User</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-row" th:each="user : ${users}">
                        <div th:unless="${isAuthenticated && user.getUsername().equals(currUserUsername)}">
                            <td class="cell px-2">
                                <a class="link-primary" href="#" th:href="@{/users/{id}(id=${user.getId()})}"
                                   th:text="${user.username}">Username</a>
                            </td>
                            <td class="cell px-2" th:text="${user.firstName}">Georgi</td>
                            <!--            <td class="cell" th:text="${user.lastName}">Hristov/td>-->
                            <td class="cell px-2" th:text="${user.email}">asdasdas@asdas.com</td>
                            <!--            <td class="cell" th:text="${user.lastLogin.toLocalDate()}">12th Sept 2022</td>-->
                            <!--            <td class="cell" th:text="${user.creation.toLocalDate()}">12th October 2022</td>-->


                            <!--            Give Admin Right-->
                            <td class="cell">
                                <p class="cell text-center m-0"
                                   th:if="${not areAdmins.get(user)} and ${areDeleted.get(user)} and ${isAdmin}">
                                    Deleted</p>
                                <p class="cell text-center m-0"
                                   th:if="${not areAdmins.get(user)} and ${areBlocked.get(user)}and ${isAdmin}">
                                    Blocked</p>
                                <p class="cell text-center m-0"
                                   th:if="${areAdmins.get(user)} and ${isAdmin}">Admin</p>

                                <a class="cell" th:if="${not areAdmins.get(user)} and ${not areDeleted.get(user)}
                                                        and  ${not areBlocked.get(user)} and ${isAdmin}">
                                    <form class="formBox modifyButton"
                                          th:action="@{/users/{id}/makeAdmin(id=${user.getId()})}"
                                          method="post">
                                        <div class="mb-3"
                                             style="visibility: hidden !important; display: none !important">
                                            <label class="form-label"
                                                   style="visibility: hidden !important; display: none !important"></label>
                                            <input type="text" class="form-control" th:value="${user.getId()}"
                                                   style="visibility: hidden !important; display: none !important">
                                        </div>
                                        <button type="submit" class="btn btn-outline-danger modifyButton p-3 m-1"
                                                id="admin2-btn">Give Admin
                                            Rights
                                        </button>
                                    </form>
                                </a>
                                <!--                <a class="cell" th:if="${areBlocked.get(user)} and ${isAdmin}">Blocked</a>-->
                                <!--                <a class="cell" th:if="${areDeleted.get(user)} and ${isAdmin}">Deleted</a>-->


                            </td>
                            <!--Block/Unblock-->
                            <td class="cell">
                                <a id="blockUserButton" th:if="${areBlocked.get(user)} and ${isAdmin}">
                                    <form class="formBox modifyButton"
                                          th:action="@{/users/{id}/unblock(id=${user.getId()})}" method="post">
                                        <div class="mb-3"
                                             style="visibility: hidden !important; display: none !important">
                                            <label class="form-label"
                                                   style="visibility: hidden !important; display: none !important"></label>
                                            <input type="text" class="form-control" th:value="${user.getId()}"
                                                   style="visibility: hidden !important; display: none !important">
                                        </div>
                                        <button type="submit" class="btn btn-outline-success modifyButton  p-3 m-1">
                                            Unblock
                                        </button>
                                    </form>
                                </a>
                                <a id="unblockUserButton2" th:unless="${areBlocked.get(user)} and ${isAdmin}">
                                    <!--                   th:if="${isAdmin}">-->
                                    <form class="formBox modifyButton"
                                          th:action="@{/users/{id}/block(id=${user.getId()})}"
                                          method="post">
                                        <div class="mb-3"
                                             style="visibility: hidden !important; display: none !important">
                                            <label class="form-label"
                                                   style="visibility: hidden !important; display: none !important"></label>
                                            <input type="text" class="form-control" th:value="${user.getId()}"
                                                   style="visibility: hidden !important; display: none !important">
                                        </div>
                                        <button type="submit" class="btn btn-outline-danger modifyButton  p-3 m-1">Block
                                        </button>
                                    </form>
                                </a>
                            </td>
                            <td class="cell">
                                <a th:if="${areDeleted.get(user)} and ${isAdmin}">Deleted</a>
                                <a th:unless="${areDeleted.get(user)}" th:if="${isAdmin}">
                                    <form class="formBox modifyButton"
                                          th:action="@{/users/{id}/delete(id=${user.getId()})}"
                                          method="post">
                                        <div class="mb-3"
                                             style="visibility: hidden !important; display: none !important">
                                            <label class="form-label"
                                                   style="visibility: hidden !important; display: none !important"></label>
                                            <input type="text" class="form-control" th:value="${user.getId()}"
                                                   style="visibility: hidden !important; display: none !important">
                                        </div>
                                        <button type="submit" class="btn btn-outline-danger modifyButton  p-3 m-1">
                                            Delete
                                        </button>
                                    </form>
                                </a>
                            </td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer.html :: footer">Footer fragment</footer>
<!--Scripts-->
<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>