<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{page.title.create.post}">Create Post</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/navbar.html :: navbar(${isAuthenticated})">Navigation bar fragment</nav>
<!-- Page Header-->
<header class="masthead py-6" style="background-image: url('../static/assets/img/contact-bg.jpg')"
        th:style="'background:url(' + @{/assets/img/create-and-browse-posts-bg.jpg} + ');background-size:cover;'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 th:text="#{create.post.title}">Create Post</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p class="my-2">Please fill in the fields below to create a post.</p>
                <small class="mt-5 mb-2">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form action="#!" id="contactForm" th:action="@{/posts/create}" th:object="${postDto}"
                          method="post">
                        <div class="form-floating">
                            <input class="form-control" id="post-title" type="text"
                                   placeholder="Enter your title..."
                                   th:field="*{title}"/>
                            <label for="post-title">Post title:</label>
                            <div class="error" th:errors="*{title}">Title is required.</div>
                        </div>
                        <div class="form-floating">
              <textarea class="form-control" id="post-content" placeholder="Enter your content here..."
                        style="height: 18rem" th:field="*{content}">
              </textarea>
                            <label for="post-content">Content:</label>
                            <!--<label for="comment">Enter your comment here:</label>-->
                            <div class="error" th:errors="*{content}">Text is required.</div>
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase mt-4 mb-3" id="submitButton" type="submit">
                            Create Post
                        </button>
                    </form>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
<footer th:replace="fragments/footer.html :: footer">Footer fragment</footer>
<!--Scripts-->
<div th:replace="fragments/scripts.html :: scripts"></div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
