<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{page.title}">MyForum</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/navbar.html :: navbar(${isAuthenticated})">Navigation bar fragment</nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')"
        th:style="'background:url(' + @{/assets/img/home-bg.jpg} + ');background-size:cover;'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 th:text="#{home.welcome}">Welcome message!</h1>
                    <span class="subheading" th:text="'Hosting '+__${numPosts}__ +' posts by '+ __${numUsers}__ +
                    ' registered users!'">
                        Short description of our webpage</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-black mb-0"
                th:unless="${posts_most_commented}" th:text="#{home.post.heading.latest}">Posts</h2>
            <h2 class="page-section-heading text-center text-uppercase text-black mb-0"
                th:unless="${posts_latest}" th:text="#{home.post.heading.commented}">Posts</h2>
            <!-- Icon Divider-->
            <div class="divider-custom mb-3">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa-solid fa-pen-clip"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!--Button to switch latest and most discussed-->
            <a th:if="${posts_latest}" th:href="@{/?sortMostCommented=true}">
                <button class="btn btn-primary text-uppercase mt-4 mb-5">Most Discussed</button>
            </a>
            <a th:if="${posts_most_commented}" th:href="@{/?sortMostCommented=false}">
                <button class="btn btn-primary text-uppercase mt-4 mb-5">Latest</button>
            </a>
            <div th:each="post, stat : ${posts}" th:unless="${posts.isEmpty()}">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html" th:href="@{/posts/__${post.getId()}__}">
                        <h3 th:text="${post.getTitle()}">Post title</h3>
                        <h4 class="post-subtitle" th:text="${#strings.abbreviate(post.getContent(),150)}">
                            Problems look mighty small from 150 miles up</h4>
                    </a>
                    <small class="post-meta">
                        <span th:text="#{post.posted.by}">Posted by</span>
                        <a th:if="${isAuthenticated}" class="link-primary" href="#!"
                           th:href="@{/users/__${post.getCreatedBy().getId()}__}"
                           th:text="${post.getCreatedBy().getUsername()}">User</a>
                        <span th:if="${not isAuthenticated}" th:text="${post.getCreatedBy().getUsername()}"></span>
                        <span th:text="#{post.on}">on</span>
                        <span class="post-meta" th:text="${post.getCreation().format(dateTimeFormatter)}">September 24,2022</span>
                    </small>
                </div>
                <!-- Divider-->
                <hr th:if="${not stat.last}" class="my-4"/>
            </div>
            <h2 class="text-center" th:if="${posts.isEmpty()}" th:text="#{no.posts}">No posts.</h2>
            <!-- Pager-->
            <!--            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">-->
            <!--                More Posts →</a></div>-->
        </div>
    </div>
</div>
<!-- Footer-->
<footer th:replace="fragments/footer.html :: footer">Footer fragment</footer>
<!--Scripts-->
<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>
