<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{page.title}">MyForum</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/navbar.html :: navbar(${isAuthenticated})">Navigation bar fragment</nav>
<!-- Page Header-->
<header class="masthead py-6" style="background-image: url('../static/assets/img/post-bg.jpg')"
        th:style="'background:url(' + @{/assets/img/post-bg.jpg} + ');background-size:cover;'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 th:text="#{post.title}">Welcome message!</h1>
                    <span class="subheading" th:text="#{post.description}">Short description.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<div class="container-fluid position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
                <!--Post editing form -->
                <div th:if="${postDtoEdit!=null}">
                    <form action="#!" id="editPostForm" th:action="@{/posts/__${post.getId()}__/update}"
                          th:object="${postDtoEdit}"
                          method="post">
                        <div class="form-floating">
                            <input class="form-control" id="post-title-update" type="text"
                                   th:field="*{title}"/>
                            <label for="post-title-update">Post title:</label>
                            <div class="error" th:errors="*{title}">Title is required.</div>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="post-content" placeholder="Enter your content here..."
                                      style="height: 9rem" th:field="*{content}">
                            </textarea>
                            <label for="post-content">Content:</label>
                            <!--<label for="comment">Enter your comment here:</label>-->
                            <div class="error" th:errors="*{content}">Text is required.</div>
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase mt-4 mb-3" id="submitButton" type="submit">
                            Edit
                        </button>
                    </form>
                </div>
                <div th:unless="${postDtoEdit!=null}">
                    <!--Post dropdown -->
                    <div th:if="${isAuthenticated && (post.getCreatedBy().getUsername().equals(currUser) || isAdmin)}"
                         class="dropdown float-end">
                        <button class="dropdown-toggle fa-solid fa-bars list-group-item-dark bg-transparent fa-lg"
                                type="button" id="postDropdown" data-bs-toggle="dropdown" aria-expanded="true">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="postDropdown">
                            <li><a class="dropdown-item" href="#"
                                   th:href="@{/posts/__${post.getId()}__/delete}">Delete</a>
                            </li>
                            <li><a class="dropdown-item" href="#"
                                   th:href="@{/posts/__${post.getId()}__/update}">Edit Post</a>
                            </li>
                            <li><a class="dropdown-item" href="#"
                                   th:href="@{/posts/__${post.getId()}__/tags}">Edit Tags</a>
                            </li>
                        </ul>
                    </div>
                    <!--Title-->
                    <h2 class="my-0" th:text="${post.getTitle()}">Title</h2>
                    <!--Tags-->
                    <div class="mt-3">
                        <span style="border: 1px solid black;border-radius: 25px" class="bg-warning py-1 px-2 mx-1"
                              th:if="${post.getTags().isPresent() && not post.getTags().get().isEmpty() && tagDto==null}"
                              th:each="tag : ${post.getTags().get()}"
                              th:text="${tag.getTitle()}"></span>
                        <p class="my-2"
                           th:if="${post.getTags().isPresent() && not post.getTags().get().isEmpty() && tagDto!=null}"
                           th:text="'Remove existing tags:'"></p>
                        <a th:if="${post.getTags().isPresent() && not post.getTags().get().isEmpty() && tagDto!=null}"
                           th:href="@{/posts/__${post.getId()}__/tags/__${tag.getId()}__/remove}"
                           th:each="tag : ${post.getTags().get()}">
                            <span style="border: 1px solid black;border-radius: 25px" class="bg-warning py-1 px-2 mx-1"
                                  th:text="${tag.getTitle()}"></span>
                        </a>
                    </div>
                    <div th:if="${tagDto!=null}">
                        <form action="#!" id="editTagForm" th:action="@{/posts/__${post.getId()}__/tags}"
                              th:object="${tagDto}"
                              method="post">
                            <div class="form-floating mt-2">
                                <input class="form-control" id="tag-create" type="text"
                                       th:field="*{title}" style="width: 40%"/>
                                <label for="post-title-update">New tag name:</label>
                                <div class="error" th:errors="*{title}">Title is required.</div>
                            </div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary text-uppercase px-2 py-2 mt-4 mb-2" id="submitTagButton"
                                    type="submit">
                                Add Tag
                            </button>
                            <a th:href="@{/posts/__${post.getId()}__}">
                                <button class="btn btn-primary text-uppercase px-2 py-2 mt-4 mb-2 mx-3"
                                        id="ReturnToPost" type="button">
                                    Done
                                </button>
                            </a>
                        </form>
                    </div>
                    <!--Content-->
                    <p class="text py-0" th:text="${post.getContent()}">Content</p>
                </div>
                <small class="meta">
                    <span th:text="#{post.posted.by}">Posted by</span>
                    <a th:if="${isAuthenticated}" class="link-primary" href="#!"
                       th:href="@{/users/__${post.getCreatedBy().getId()}__}"
                       th:text="${post.getCreatedBy().getUsername()}">User</a>
                    <span th:unless="${isAuthenticated}" th:text="${post.getCreatedBy().getUsername()}"></span>
                    <span th:text="#{post.on}">on</span>
                    <span class="post-meta"
                          th:text="${post.getCreation().format(dateTimeFormatter)}">September 24,2022</span>
                </small>
                <!--Like and dislike buttons-->
                <div class="pt-4" th:if="${isAuthenticated && postDtoEdit==null}">
                        <span class="p-lg-1">
                            <a th:href="@{/posts/__${post.getId()}__/like}">
                                <button th:if="${postIsLiked!=null && postIsLiked.isLiked()}"
                                        class="btn-link fa-solid fa-thumbs-up bg-transparent fa-lg"
                                        style="color: #fd7e14"></button>
                                <button th:if="${postIsLiked==null || not postIsLiked.isLiked()}"
                                        class="btn-link fa-solid fa-thumbs-up bg-transparent fa-lg"></button>
                            </a>
                        </span>
                    <span class="px-1 my-0" th:text="${post.getRating()}">2</span>
                    <span class="p-lg-1">
                            <a th:href="@{/posts/__${post.getId()}__/dislike}">
                                <button th:if="${postIsLiked==null || postIsLiked.isLiked()}"
                                        class="btn-link fa-solid fa-thumbs-down bg-transparent fa-lg"></button>
                                <button th:if="${postIsLiked!=null && not postIsLiked.isLiked()}"
                                        class="btn-link fa-solid fa-thumbs-down bg-transparent fa-lg"
                                        style="color: #fd7e14"></button>
                            </a>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Divider-->
<hr class="my-5"/>
<!--Post Comments-->
<div class="mb-4">
    <div class="container-fluid px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!--general error-->
                <p class="error" th:if="${auth_error}" th:text="${auth_error}"></p>
                <!--create a comment-->
                <div th:if="${isAuthenticated}">
                    <!--Create a comment heading-->
                    <h5 class="mt-0 mb-3">Create a comment here:</h5>
                    <!--Comment submission form-->
                    <form th:action="@{/posts/__${post.getId()}__/comments}" th:object="${newCommentDto}" method="post"
                          id="createCommentForm">
                        <div class="form-floating">
                            <textarea class="form-control" id="comment" placeholder="Enter your comment here..."
                                      style="height: 9rem" th:field="*{content}"></textarea>
                            <label for="comment">Content:</label>
                            <div class="error" th:if="${oldCommentDto!=null}"
                                 th:object="${oldCommentDto}" th:errors="*{content}">Text is required.
                            </div>
                        </div>
                        <br/>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase mt-0 mb-5" id="createCommentButton" type="submit">
                            Comment
                        </button>
                    </form>
                </div>
                <!--Comment search-->
                <div th:if="${isAuthenticated && not comments.isEmpty()}">
                    <form action="#" th:action="@{/posts/__${post.getId()}__}" method="get"
                          th:object="${commentFilterOptions}">
                        <div class="justify-content-center">
                            <input style="width: 80%" placeholder="Search" id="commentSearch"
                                   th:field="*{keyword}"/>
                            <!--                        <input class="" style="width: 49%" placeholder="Tag" id="filterOptTag" th:field="*{tag}"/>-->
                            <!--                        <input class="" style="width: 49%" placeholder="Created by" id="filterOptCreatedBy"-->
                            <!--                               th:field="*{createdBy}"/>-->
                        </div>
                        <div class="my-2">
                            <select th:field="*{sortBy}">
                                <option value="">Sort By</option>
                                <option value="rating">Rating</option>
                                <option value="creation">Created</option>
                            </select>

                            <select th:field="*{sortOrder}">
                                <option value="">Sort Order</option>
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                            <input type="submit" value="Search">
                        </div>
                    </form>
                </div>
                <!--Comment section heading -->
                <h5 class="mb-4 mt-5">Comment section:</h5>
                <!--Comments -->
                <div th:unless="${comments.isEmpty()}"
                     th:each="comment, stat : ${comments}">
                    <!--Action buttons -->
                    <div th:if="${isAdmin} or ${comment.getCreatedBy().getUsername().equals(currUser)}">
                        <!--Delete comment button -->
                        <a th:if="${isAuthenticated}"
                           th:href="@{/posts/__${post.getId()}__/comments/__${comment.getId()}__/delete}">
                            <button class="btn-link fa-solid fa-trash list-group-item-dark bg-transparent fa-xs"
                                    style="padding-right: 0.75rem;padding-left: 0.25rem"></button>
                        </a>
                        <!--Edit comment button -->
                        <a th:if="${isAuthenticated}"
                           th:href="@{/posts/__${post.getId()}__/comments/__${comment.getId()}__/update}">
                            <button class="btn-link fa-solid fa-pen-to-square list-group-item-dark bg-transparent fa-xs"></button>
                        </a>
                    </div>
                    <!--Comment content-->
                    <p class="mb-4 mt-3" th:unless="${(commentToEditId != null) && commentToEditId == comment.getId()}"
                       th:text="${comment.getContent()}">
                        Problems look mighty small from 150 miles up</p>
                    <!--Comment if editing -->
                    <form th:if="${(commentToEditId != null) && commentToEditId == comment.getId()}"
                          th:action="@{/posts/__${post.getId()}__/comments/__${comment.getId()}__/update}"
                          th:object="${commentDtoEdit}" method="post"
                          id="updateCommentForm">
                        <div class="form-floating">
                            <textarea class="form-control" id="editedComment" placeholder="Enter your comment here..."
                                      th:text="${comment.getContent()}" style="height: 9rem"
                                      th:field="*{content}"></textarea>
                            <label for="editedComment">Content:</label>
                            <div class="error" th:errors="*{content}">Content is required.</div>
                        </div>
                        <br/>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase mt-0 mb-5" id="editCommentButton" type="submit">
                            Edit
                        </button>
                    </form>
                    <!--Comment meta data -->
                    <small class="post-meta">
                        <span th:text="#{comment.posted.by}">Posted by</span>
                        <a th:if="${isAuthenticated}" class="link-primary" href="#!"
                           th:href="@{/users/__${post.getCreatedBy().getId()}__}"
                           th:text="${comment.getCreatedBy().getUsername()}">User</a>
                        <span th:unless="${isAuthenticated}" th:text="${comment.getCreatedBy().getUsername()}"></span>
                        <span th:text="#{post.on}">on</span>
                        <span class="post-meta" th:text="${comment.getCreation().format(dateTimeFormatter)}">September 24,2022</span>
                    </small>
                    <!--Comment Like/Dislike buttons-->
                    <div class="pt-4" th:if="${isAuthenticated}">
                        <span class="p-lg-1">
                            <a th:href="@{/posts/__${post.getId()}__/comments/__${comment.getId()}__/like}">
                                <button th:if="${commentReactionMap != null &&
                                                 commentReactionMap.get(comment.getId()) == 1}"
                                        class="btn-link fa-solid fa-thumbs-up bg-transparent fa-sm"
                                        style="color: #fd7e14"></button>
                                <button th:if="${commentReactionMap == null ||
                                                 commentReactionMap.get(comment.getId()) != 1}"
                                        class="btn-link fa-solid fa-thumbs-up bg-transparent fa-sm"></button>
                            </a>
                        </span>
                        <span class="px-1 my-0" th:text="${comment.getRating()}">2</span>
                        <span class="p-lg-1">
                            <a th:href="@{/posts/__${post.getId()}__/comments/__${comment.getId()}__/dislike}">
                                <button th:if="${commentReactionMap == null ||
                                                 commentReactionMap.get(comment.getId()) != -1}"
                                        class="btn-link fa-solid fa-thumbs-down bg-transparent fa-sm"></button>
                                <button th:if="${commentReactionMap != null &&
                                                 commentReactionMap.get(comment.getId()) == -1}"
                                        class="btn-link fa-solid fa-thumbs-down bg-transparent fa-sm"
                                        style="color: #fd7e14"></button>
                            </a>
                        </span>
                    </div>
                    <!-- Divider-->
                    <hr th:if="${not stat.last}" class="my-5"/>
                </div>
                <p th:if="${comments.isEmpty()}" class="my-0 py-0">No comments.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer th:replace="fragments/footer.html :: footer">Footer fragment</footer>
<!--Scripts-->
<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>
