<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{page.title}">MyForum</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/navbar.html :: navbar(${isAuthenticated})">Navigation bar fragment</nav>
<!-- Page Header-->
<header class="masthead py-6" style="background-image: url('../static/assets/img/home-bg.jpg')"
        th:style="'background:url(' + @{/assets/img/create-and-browse-posts-bg.jpg} + ');background-size:cover;'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 th:text="#{posts.title}">Welcome message!</h1>
                    <!--                    <span class="subheading" th:text="#{home.description}">Short description of our webpage</span>-->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <form action="#" th:action="@{/posts}" method="get" th:object="${postFilterOptions}">
                <h3 class="text-center pb-3">Filter Options</h3>
                <div class="px-2 justify-content-center">
                    <input class="mb-2" style="width: 99%" placeholder="Search" id="filterOptSearch"
                           th:field="*{keyword}"/>
                    <input class="" style="width: 49%" placeholder="Tag" id="filterOptTag" th:field="*{tag}"/>
                    <input class="" style="width: 49%" placeholder="Created by" id="filterOptCreatedBy"
                           th:field="*{createdBy}"/>
                </div>

                <div class="my-2 mt-3 px-2">
                    <select th:field="*{sortBy}">
                        <option value="">Sort By</option>
                        <option value="title">Title</option>
                        <option value="rating">Rating</option>
                        <option value="commented">Discussed</option>
                        <option value="creation">Created</option>
                    </select>

                    <select th:field="*{sortOrder}">
                        <option value="">Sort Order</option>
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                    <input type="submit" value="Search">
                </div>
            </form>
            <!-- Divider-->
            <hr class="my-4"/>

            <div th:each="post, stat : ${posts}" th:unless="${posts.isEmpty()}">
                <!-- Post preview-->
                <div class="post-preview">
                    <a th:if="${isAuthenticated && (isAdmin || post.getCreatedBy().getUsername().equals(currUser))}"
                       th:href="@{/posts/__${post.getId()}__/delete}" class="float-end" style="margin-left: 2rem">
                        <button class="btn-link fa-solid fa-trash list-group-item-dark bg-transparent fa-xs"
                                style="padding-right: 0.75rem;padding-left: 0.25rem"></button>
                    </a>
                    <a href="post.html" th:href="@{/posts/__${post.getId()}__}">
                        <h3 th:text="${post.getTitle()}">Post title</h3>
                        <h4 class="post-subtitle" th:text="${#strings.abbreviate(post.getContent(),150)}">
                            Problems look mighty small from 150 miles up</h4>
                    </a>
                    <small class="post-meta">
                        <span th:text="#{post.posted.by}">Posted by</span>
                        <a class="link-primary" href="#!" th:href="@{/users/__${post.getCreatedBy().getId()}__}"
                           th:text="${post.getCreatedBy().getUsername()}">User</a>
                        <span th:text="#{post.on}">on</span>
                        <span class="post-meta" th:text="${post.getCreation().format(dateTimeFormatter)}">September 24,2022</span>
                    </small>

                </div>
                <!-- Divider-->
                <hr th:if="${not stat.last}" class="my-4"/>
            </div>
            <h4 class="text-center" th:if="${posts.isEmpty()}" th:text="#{no.posts}">No posts.</h4>
            <!--            <div class="d-flex justify-content-end mt-4">-->
            <!--                <a th:if="${currPage!=1}" class="btn btn-primary text-uppercase p-2 mx-2">-->
            <!--                    Prev page-->
            <!--                </a>-->

            <!--                <a th:if="${currPage!=numOfPages}" class="btn btn-primary text-uppercase p-2">-->
            <!--                    Next page-->
            <!--                </a>-->
            <!--            </div>-->
        </div>
    </div>
</div>
<!-- Footer-->
<footer th:replace="fragments/footer.html :: footer">Footer fragment</footer>
<!--Scripts-->
<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>
