<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{user.title}">Profile</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar(${isAuthenticated})">Navigation bar fragment</nav>

<header class="masthead py-6" style="background-image: url('../static/assets/img/post-bg.jpg')"
        th:style="'background:url(' + @{/assets/img/post-bg.jpg} + ');background-size:cover;'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 th:text="|__${user.username}__'s Edit Profile|">Welcome message!</h1>
                    <span class="subheading" th:text="#{user.description}">Short description.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7" style="width: 600px">
            <h2 class="text-center text-uppercase">Edit Profile</h2>
            <form class="formBox" action="#" th:action="@{/users/__${user.getId()}__/update}" th:object="${userDto}"
                  method="post">
                <div class="mb-3">
                    <label class="form-label">First name</label>
                    <input type="text" class="form-control" th:field="*{firstName}" style="width: 95%">
                    <label class="error" th:errors="*{firstName}">Error placeholder</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Last name</label>
                    <input type="text" class="form-control" th:field="*{lastName}" style="width: 95%">
                    <label class="error" th:errors="*{lastName}">Error placeholder</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" th:field="*{email}" style="width: 95%">
                    <label class="error" th:errors="*{email}">Error placeholder</label>
                </div>
                <div class="mb-3" th:if="${isAdmin}">

                    <label class="form-label">Phone number</label>
                    <input type="text" class="form-control" th:field="*{phoneNumber}" style="width: 95%">
                    <label class="error" th:errors="*{phoneNumber}">Error placeholder</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control" th:field="*{newPassword}" style="width: 95%">
                    <label class="error" th:errors="*{newPassword}">Error placeholder</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Old Password</label>
                    <input type="password" class="form-control" th:field="*{oldPassword}" style="width: 95%">
                    <label class="error" th:errors="*{oldPassword}">Error placeholder</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirm Old Password</label>
                    <input type="password" class="form-control" th:field="*{oldPasswordConfirm}" style="width: 95%">
                    <label class="error" th:errors="*{oldPasswordConfirm}">Error placeholder</label>
                </div>
                <button type="submit" class="btn btn-outline-success">Submit new details</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer.html :: footer">Footer fragment</footer>
<!--Scripts-->
<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>
