<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{user.title}">Profile</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>


<nav th:replace="fragments/navbar.html :: navbar(${isAuthenticated})">Navigation bar fragment</nav>

<header class="masthead py-6" style="background-image: url('../static/assets/img/post-bg.jpg')"
        th:style="'background:url(' + @{/assets/img/user-bg.jpg} + ');background-size:cover;'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 th:text="|*{user.username}'s Profile|">Welcome message!</h1>
                    <span class="subheading" th:text="#{user.description}">Short description.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- User Content-->
<div class="container-fluid position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
                <img class="img-fluid" src="/assets/img/default-profile-img.jpg" alt=""
                     th:src="@{/assets/img/default-profile-img.jpg}" style="max-width: 300px;border-radius: 20px">
                <div class="my-4">
                    <span th:text="#{user.id}">User ID </span>
                    <span href="#!" th:text="${user.getId()}">1</span>
                </div>
                <div class="my-4">
                    <span th:text="#{user.username}">Username: </span>
                    <span th:text="${user.getUsername()}">Test Username</span>
                </div>
                <div class="my-4">
                    <span th:text="#{user.firstname}">Name:</span>
                    <span href="#!" th:text="${user.getFirstName()}+' '+${user.getLastName()}">Georgi Mihaylov</span>
                </div>
                <div class="my-4">
                    <span th:text="#{user.joined}">Joined on</span>
                    <span href="#!" th:text="${user.getCreation().format(dateTimeFormatter)}">Date Joined</span>
                </div>
                <div class="my-4">
                    <span th:text="#{user.seen}">Last seen </span>
                    <span href="#!" th:text="${user.getLastLogin().format(dateTimeFormatter)}">Last seen</span>
                </div>
            </div>
            <!--<div th:each="role : ${user.getRoles()}">-->
            <div class="mb-4">
                <div class="w3-container w3-cell" id="buttonViewUser'sPosts">
                    <a th:if="${currentUser.getId() == user.getId()}" href="#"
                       th:href="@{/posts?keyword=&tag=&createdBy=__${user.getUsername()}__&sortBy=&sortOrder=}"
                       class="btn btn-outline-success btn-lg px-2 py-2 my-2" role="button" aria-pressed="true">View My
                        Posts</a>
                    <a th:unless="${currentUser.getId() == user.getId()}" href="#"
                       th:href="@{/posts?keyword=&tag=&createdBy=__${user.getUsername()}__&sortBy=&sortOrder=}"
                       class="btn btn-outline-success btn-lg px-2 py-2 my-2" role="button" aria-pressed="true">View
                        User's
                        Posts</a>
                </div>
                <!--Unable to browse the comments separated from posts for now -->
                <!--                <div class="w3-container w3-cell" id="buttonViewUser'sComments">-->
                <!--                    <a th:if="${currentUser.getId() == user.getId()}" href="#"-->
                <!--                       th:href="@{/users/{id}/comments(id=${user.getId()})}"-->
                <!--                       class="btn btn-outline-success btn-lg px-2 py-2 my-2" role="button" aria-pressed="true">View My-->
                <!--                        Comments</a>-->
                <!--                    <a th:unless="${currentUser.getId() == user.getId()}" href="#"-->
                <!--                       th:href="@{/users/{id}/comments(id=${user.getId()})}"-->
                <!--                       class="btn btn-outline-success btn-lg px-2 py-2 my-2" role="button" aria-pressed="true">View-->
                <!--                        User's-->
                <!--                        Comments</a>-->
                <!--                </div>-->
            </div>
            <div th:unless="${currentUser.getId() == user.getId()}">
                <div id="blockUserButton" th:if="${isBlocked} and ${isAdmin}" class="float-start">
                    <form class="formBox modifyButton"
                          th:action="@{/users/{id}/unblock(id=${user.getId()})}" method="post">
                        <div class="mb-3" style="visibility: hidden !important; display: none !important">
                            <label class="form-label"
                                   style="visibility: hidden !important; display: none !important"></label>
                            <input type="text" class="form-control" th:value="${user.getId()}"
                                   style="visibility: hidden !important; display: none !important">
                        </div>
                        <button type="submit" class="btn btn-outline-success modifyButton px-2 py-2 my-2" id="block-btn"
                                style="margin-right: 1rem;font-size: 1.25rem">
                            Unblock
                        </button>
                    </form>
                </div>
                <div id="unblockUserButton" th:unless="${isBlocked}" th:if="${isAdmin}" class="float-start">
                    <form class="formBox modifyButton" th:action="@{/users/{id}/block(id=${user.getId()})}"
                          method="post">
                        <div class="mb-3" style="visibility: hidden !important; display: none !important">
                            <label class="form-label"
                                   style="visibility: hidden !important; display: none !important"></label>
                            <input type="text" class="form-control" th:value="${user.getId()}"
                                   style="visibility: hidden !important; display: none !important">
                        </div>
                        <button type="submit" class="btn btn-outline-danger modifyButton px-2 py-2 my-2"
                                id="unblock-btn"
                                style="margin-right: 1rem;font-size: 1.25rem">
                            Block
                        </button>
                    </form>
                </div>
                <div id="deleteUserButton" th:unless="${isDeleted}" th:if="${isAdmin}" class="float-start">
                    <form class="formBox modifyButton" th:action="@{/users/{id}/delete(id=${user.getId()})}"
                          method="post">
                        <div class="mb-3" style="visibility: hidden !important; display: none !important">
                            <label class="form-label"
                                   style="visibility: hidden !important; display: none !important"></label>
                            <input type="text" class="form-control" th:value="${user.getId()}"
                                   style="visibility: hidden !important; display: none !important">
                        </div>
                        <button type="submit" class="btn btn-outline-danger modifyButton px-2 py-2 my-2" id="delete-btn"
                                style="margin-right: 1rem;font-size: 1.25rem">
                            Delete
                        </button>
                    </form>
                </div>
                <div id="makeAdminUserButton" th:if="${not isThisUserAdmin}  and ${not isDeleted} and
                                ${isAdmin} and ${not isBlocked}" class="float-start">
                    <form class="formBox modifyButton" th:action="@{/users/{id}/makeAdmin(id=${user.getId()})}"
                          method="post">
                        <div class="mb-3" style="visibility: hidden !important; display: none !important">
                            <label class="form-label"
                                   style="visibility: hidden !important; display: none !important"></label>
                            <input type="text" class="form-control" th:value="${user.getId()}"
                                   style="visibility: hidden !important; display: none !important">
                        </div>
                        <button type="submit" class="btn btn-outline-danger modifyButton px-2 py-2 my-2" id="admin-btn"
                                style="margin-right: 1rem;font-size: 1.25rem">
                            Make Admin
                        </button>
                    </form>
                </div>
            </div>
            <div class="w3-container w3-cell" id="buttonEditProfile" th:if="${currentUser.getId() == user.getId()}">
                <form>
                    <a href="userUpdate.html" th:href="@{~/users/{id}/update(id=${user.getId()})}"
                       th:id="unblockUserButton" class="btn btn-primary text-uppercase" type="submit">Edit
                        profile</a>
                </form>
            </div>
<!--            <div class="w3-container w3-cell" id="adminPortal" th:if="${isAdmin}">-->
<!--                <form>-->
<!--                    <a href="adminPanel.html" th:href="@{~/adminPanel}"-->
<!--                       th:id="unblockUserButton" class="btn btn-primary text-uppercase" type="submit">Admin Panel</a>-->
<!--                </form>-->
<!--            </div>-->

            <!--</div>-->

        </div>
    </div>
</div>

<footer th:replace="fragments/footer.html :: footer">Footer fragment</footer>
<!--Scripts-->
<div th:replace="fragments/scripts.html :: scripts"></div>
<!--<script>-->
<!--    $('#blockUserButton').click(function(event) {-->
<!--        event.preventDefault();-->
<!--        var userId = $(this).attr('id');-->
<!--        $.ajax({-->
<!--            url: '/user/' + userId + '/block',-->
<!--            type: 'POST',-->
<!--            success: function(result) {-->
<!--                // Hide the "Block" button and show the "Unblock" button-->
<!--                $('#blockUserButton').hide();-->
<!--                $('#unblockUserButton').show();-->
<!--            },-->
<!--            error: function(xhr, status, error) {-->
<!--                console.log('Error blocking user: ' + error);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--    $('#unblockUserButton').click(function(event) {-->
<!--        event.preventDefault();-->
<!--        var userId = $(this).attr('id');-->
<!--        $.ajax({-->
<!--            url: '/user/' + userId + '/unblock',-->
<!--            type: 'POST',-->
<!--            success: function(result) {-->
<!--                // Hide the "Block" button and show the "Unblock" button-->
<!--                $('#blockUserButton').show();-->
<!--                $('#unblockUserButton').hide();-->
<!--            },-->
<!--            error: function(xhr, status, error) {-->
<!--                console.log('Error blocking user: ' + error);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->

</body>
</html>

