<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{page.title}">MyForum</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<!-- Navigation-->
<nav th:replace="fragments/navbar.html :: navbar(${isAuthenticated})">Navigation bar fragment</nav>
<!-- Page Header-->
<header class="masthead py-6" style="background-image: url('../static/assets/img/home-bg.jpg')"
        th:style="'background:url(' + @{/assets/img/user-bg.jpg} + ');background-size:cover;'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 th:text="#{users.title}">Welcome message!</h1>
                    <!--                    <span class="subheading" th:text="#{home.description}">Short description of our webpage</span>-->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">

        <form action="#" th:action="@{/users}" method="get" th:object="${userFilterOptions}">
            <h3 class="text-center pb-3" th:text="#{user.filter.label}">Filter Options</h3>
            <div class="px-2">
                <input placeholder="Username" id="filterOptUsername" th:field="*{username}" style="width: 22%"/>
                <input placeholder="First name" id="filterOptFirstName" th:field="*{firstName}" style="width: 22%"/>
                <input placeholder="Last name" id="filterOptLastName" th:field="*{lastName}" style="width: 22%"/>
                <input placeholder="Email" id="filterOptEmail" th:field="*{email}" style="width: 27%"/>
            </div>
            <div class="my-2 px-2">
                <select th:field="*{sortBy}">
                    <option value="">Sort By</option>
                    <option value="username">Username</option>
                    <option value="firstName">First name</option>
                    <option value="lastName">Last name</option>
                    <option value="email">Email</option>
                </select>

                <select th:field="*{sortOrder}">
                    <!--       <option value="">Sort Order</option>-->
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <input type="submit" value="Search">
            </div>
        </form>

        <div th:if="${users.isEmpty()}">
            <p class="text-center mb-0" th:text="#{users.title.empty}">No matching users.</p>
        </div>
        <div th:unless="${users.isEmpty()}">
            <!--            <h2 class="my-4" th:text="#{users.title}"></h2>-->
            <table class="my-4">
                <thead>
                <tr>
                    <th class="cell px-2" th:text="#{user.label.username}">Username</th>
                    <th class="cell px-2" th:text="#{user.label.firstName}">First Name</th>
                    <th class="cell px-2" th:text="#{user.label.lastName}">Last Name</th>
                    <th class="cell px-2" th:text="#{user.label.email}">Email</th>
                    <th class="cell px-2" th:text="#{user.label.lastLogin}">Date of Registration</th>
                    <th class="cell px-2" th:text="#{user.label.creation}">User Since</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row" th:each="user : ${users}" th:if="${not user.username.contains('deleted')}">
                    <td class="cell px-2">
                        <a class="link-primary" href="#" th:href="@{/users/{id}(id=${user.getId()})}"
                           th:text="${user.username}">Username</a>
                    </td>
                    <td class="cell px-2" th:text="${user.firstName}">Georgi</td>
                    <td class="cell px-2" th:text="${user.lastName}">Hristov/td>
                    <td class="cell px-2" th:text="${user.email}">asdasdas@asdas.com</td>
                    <td class="cell px-2" th:text="${user.lastLogin.toLocalDate()}">12th Sept 2022</td>
                    <td class="cell px-2" th:text="${user.creation.toLocalDate()}">12th October 2022</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer.html :: footer">Footer fragment</footer>
<!--Scripts-->
<div th:replace="fragments/scripts.html :: scripts"></div>

</body>
</html>